{% extends 'base.html' %}

{% load static %}

{% block title %}
    Game #{{ game.pk }}
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'shopapp/style.css' %}">
{% endblock %}

{% block content %}
    <div class="container my-5">
        <div class="row">
            <div class="col-md-4">
                {% if game.preview %}
                    <img src="{{ game.preview.url }}" alt="{{ game.preview.name }}" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-md-8">
                <h1>{{ game.name }}</h1>
                <p><strong>Age Rating:</strong> {{ game.age_rating }}+</p>
                <p><strong>Genre:</strong> {{ game.genre }}</p>
                <div class="row">
                    <div class="col-md-6">
                        <p><strong>System Requirements:</strong> {{ game.system_requirements }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Description</h2>
                <p>{{ game.description }}</p>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Price</h2>
                <p>{{ game.price }}</p>
                {% if game.discount %}
                    <h2>Discount</h2>
                    <p style="color: #00CF00">{{ game.discount }}%</p>
                {% endif %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <form action="{% url 'shopapp:add_to_cart' %}" method="post" class="form-inline justify-content-end">
                    {% csrf_token %}
                    <input type="hidden" name="game_id" value="{{ game.pk }}">
                    <div class="form-group mr-2">
                        <input type="number" name="quantity" value="1" min="1" required class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Add to Cart</button>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <h2>Additional Images</h2>
                <div class="row">
                    {% for img in game.images.all %}
                        <div class="col-md-4 mb-4">
                            <img src="{{ img.image.url }}" alt="{{ img.image.name }}" class="img-fluid">
                            <p>{{ img.description }}</p>
                        </div>
                    {% empty %}
                        <div class="col-md-12 no_images">No images uploaded yet</div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <a href="{% url 'shopapp:games_list' %}" class="btn btn-secondary">Back to Games List</a>
            </div>
        </div>
    </div>
{% endblock %}




