{% extends 'shopapp/base.html' %}

{% block title %}
    Games list
{% endblock %}

{% block body %}
    <h1>Games</h1>
    <div>
        {% if games %}
            {% for game in games %}
                <div>
                    {% if game.preview %}
                        <img src="{{ game.preview.url }}" alt="{{ game.preview.name }}">
                    {% endif %}
                </div>
                <div>
                    <p><a href="{% url 'shopapp:games_details' pk=game.pk %}">Name: {{ game.name }}</a></p>
                    <p>age_rating: {{ game.age_rating }}+</p>
                    <p>genre: {{ game.genre }}</p>
                    <p>***********************************************************************</p>
                </div>
            {% endfor %}

        {% else %}
            <h3>No games yet</h3>
        {% endif %}
    </div>
{% endblock %}