{% extends 'base.html' %}

{% block title %}
    Orders List
{% endblock %}


{% block content %}
    <div class="container my-5">
        <h1 class="mb-4">Orders:</h1>
        <div>
            {% if orders %}
                {% for order in orders %}
                    <div class="card mb-4">
                        <div class="card-header">
                            <p>Order by: {{ order.user.username }}</p>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Game in order:</h5>
                            <div class="row">
                                {% for item in order.items.all %}
                                    <div class="col-md-4 mb-4">
                                        <img src="{{ item.game.preview.url }}" alt="{{ item.game.preview.name }}" class="img-fluid">
                                    </div>
                                    <div class="col-md-8">
                                        <p><a href="{% url 'shopapp:games_details' pk=item.game.pk %}" class="card-link">{{ item.game.name }}</a></p>
                                        <p>Price: ${{ item.total_price }}</p>
                                        <p>Quantity: {{ item.quantity }}</p>
                                        {% if item.game.discount %}
                                            <p style="color: #00CF00">Discount: {{ item.game.discount }}%</p>
                                        {% endif %}
                                        <div>
                                            <a href="{% url 'shopapp:order_update' pk=item.pk %}" class="btn btn-primary mr-2">Update order</a>
                                            <a href="{% url 'shopapp:order_delete' pk=item.pk %}" class="btn btn-danger">Delete order</a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <h3>No orders yet</h3>
            {% endif %}
        </div>
        <div>
            <a href="{% url 'shopapp:games_list' %}" class="btn btn-secondary">Back to games list</a>
        </div>
    </div>
{% endblock %}