{% extends 'base.html' %}

{% block title %}
  About me
{% endblock %}

{% block content %}
  <div class="container mt-5">
    {% if user.is_authenticated %}
      <h1 class="mb-4">User info</h1>
      <div class="row">
        <div class="col-md-4">
          {% if user.profile.preview %}
            <img class="img-fluid img-thumbnail" src="{{ user.profile.preview.url }}" alt="{{ user.profile.preview.name }}">
          {% endif %}
        </div>
        <div class="col-md-8">
          <h2 class="mb-3">Detail</h2>
          <p><strong>Username:</strong> {{ user.username }}</p>
          {% if user.first_name %}
            <p><strong>First name:</strong> {{ user.first_name }}</p>
          {% endif %}
          {% if user.last_name %}
            <p><strong>Last name:</strong> {{ user.last_name }}</p>
          {% endif %}
          {% if user.email %}
            <p><strong>Email:</strong> {{ user.email }}</p>
          {% endif %}
        </div>
      </div>
      <div class="mt-4">
        <p><a class="btn btn-primary" href="{% url 'shopapp:order_list' %}">Мои заказы</a></p>
      </div>
      <div class="mt-4">
        <a class="btn btn-secondary" href="{% url 'myauth:profile_update' pk=user.pk %}">Update</a>
        <a class="btn btn-danger" href="{% url 'myauth:profile_delete' pk=user.pk %}">Delete profile</a>
        <a class="btn btn-outline-primary" href="{% url 'myauth:logout' %}">Log out</a>
      </div>
      <div class="mt-4">
        <a class="btn btn-link" href="{% url 'shopapp:games_list' %}">Next page: Games list</a>
      </div>
    {% else %}
      <p><a class="btn btn-primary" href="{% url 'myauth:login' %}">LogIn</a></p>
    {% endif %}
  </div>
{% endblock %}
