<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
    <header>
        <div>
            <p><a href="{% url 'myauth:about-me' %}">Next page profile</a></p>
            <p><a href="{% url 'myauth:login' %}">Next page log in</a></p>
            <p><a href="{% url 'myauth:logout' %}">Next page log out</a></p>
            <p><a href="{% url 'myauth:register' %}">Next page register</a></p>
            <p><a href="{% url 'shopapp:order_list' %}">Next page orders</a></p>
        </div>
    </header>
    <style>
        .img_avatar {
            width: 20%;
        }
    </style>
    {% block body %} {% endblock %}
</body>
</html>