{% extends 'myauth/base.html' %}

{% block title %}
    Confirm delete {{ object.name }}
{% endblock %}

{% block body %}
    <h1>Are you sure you want to delete ? {{ object.name }}</h1>
    <br>
    <div>
        <a href="{% url 'myauth:about-me' %}">
            Back to about me
        </a>
        <div>
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <br>
                <button type="submit">
                    Delete
                </button>
            </form>
        </div>
    </div>
{% endblock %}
